@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8f44fd;
  color: white;
  transition: 0.04s;
}

.wrapper-section1,
.wrapper-section2,
.wrapper-section3 {
  width: auto;
  height: auto;
  padding: 0 20px;
  margin-bottom: 90px;
}

.wrapper-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Nunito", sans-serif;
  margin-left: 20px;
}

.wrapper-weather {
  display: flex;
  width: 100%;
  height: 180px;
  margin-top: 20px;
}

.weather {
  display: flex;
  width: 100%;
  height: 180px;
}

.left,
.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
}

.right {
  flex-direction: column;
  border-left: 1px solid white;
}

.top,
.bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.dropdown {
  position: relative;
  margin-right: 20px;
  perspective: 200px;
  gap: 10px;
  width: 280px;
  height: 40px;
  color: #f9f9f9;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.dropdown > button {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.45);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  color: #f9f9f9;
  background: transparent;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.menu-dropdown {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  transform-origin: 100% 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
  scale: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  font-family: "Nunito", sans-serif;
}

.open {
  scale: 1;
  right: 0;
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.menu-dropdown > button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  width: 100%;
  height: 40px;
  color: #f9f9f9;
  background: transparent;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.menu-dropdown > button:hover {
  background: rgba(0, 0, 0, 1);
}

.icon-btn-select {
  width: 20px;
  height: 20px;
  transition: 0.4s;
}

.open-icon {
  rotate: -180deg;
}

.card-section2,
.card-section3 {
  width: 13%;
  padding: 0.8em 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 1.125em;
  text-align: center;
}

.card-section3 {
  width: 100%;
  display: flex;
}

.left-section3 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.right-section3 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.wrapper-loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-nodata {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-nodata > p {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #f9f9f9;
}

.wrapper-nodata > img {
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-data > p {
  margin: 5px 0;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 500px) {
  .wrapper-weather {
    flex-wrap: wrap;
  }

  .weather {
    display: block;
  }

  .wrapper-section2 {
    margin-top: 170px;
  }

  .left,
  .right,
  .top,
  .bottom {
    width: 100%;
    padding: 20px 0;
  }

  .right {
    border: none;
  }

  .wrapper-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-section2 {
    width: 40%;
  }
}
